body {
	margin:0;
	padding: 0;
	height: 100%;
	font-family: 'Ubuntu', sans-serif;
}
.main{
	display: grid;
	grid-template-columns: 35% 30% 35%;
	padding-top: 48px;
}
#canvas{
	margin:auto;
	height: 93vh;
}
.scores{
	margin-top: 10px;
}
.table_scores{
	margin: 10px 0 0 15px;
}