body {
	margin:0;
	padding: 0;
	height: 100%;
}

nav a {
	text-decoration: none;
	/*margin: 20px;*/
	color: #fff;
	
}

nav {
	background-color: black;
	width: 100%;
	display: flex;
  opacity: 0.8;
  position: fixed;
}
a, .button {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 5px 20px;
  margin: 10px 20px;
  position: relative;
  color: black;
 /* border: 1px solid rgba(255,255,255,.4);*/
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a:before,
a:after, .button:before, .button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
a:before, .button:before {
  bottom: 0;
  left: 0;
  border-left: 1.5px solid red;
  border-top: 1.5px solid red;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
a:after, .button:after{
  top: 0;
  right: 0;
  border-right: 1.5px solid red;
  border-bottom: 1.5px solid red;
  transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}
a:hover:before,
a:hover:after, .button:hover:before, .button:hover:after{
  height: 100%;
  width: 100%;
  opacity: 1;
}
a:hover:before, .button:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
a:hover:after, .button:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}
a:hover, .button:hover {background: none;}
/*.button:hover{background: black;}*/
